.section_register_gif{
    margin-top: 350px;
}

.section_register_left_h1{
    color: #ffffff;
    font-size: 8.4em;
    width: 40%;
    font-weight: 900;
    line-height: 70px;
    margin-top: -60px;
    padding: 50px;
    text-shadow: 2px 2px 2px rgb(66, 66, 66);
    margin-bottom: 500px;
    margin-left: -30px;
    box-shadow: #a734ff93 -5px 5px, #a734ff49 -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.spandestaque_color1{
 
    color: #ab3dff;
    
}

@media (max-width: 450px) {
    .section_register_gif{
      width: 95%;
      height: 95%;
      margin-top: 100px;
    }
  
    .section_register_left_h1{
      font-size: 3em;
      line-height: 30px;
      margin-bottom: 200px;
      margin-left: -100px;
    }
  }
  
  /* Estilos para resoluções menores que 576px (exemplo: smartphones em modo retrato) */
  @media (min-width: 450.01px) and (max-width: 575.98px) {
    .section_register_left_h1{
      font-size: 4em;
      line-height: 40px;
      margin-bottom: 200px;
      margin-left: -100px;
    }
    .section_register_gif{
      margin-top: 100px;
    }
  }
  
  /* Estilos para resoluções entre 576px e 767.98px (exemplo: smartphones em modo paisagem) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .section_register_left_h1{
      font-size: 6.4em;
      line-height: 50px;
      margin-bottom: 200px;
      margin-left: -100px;
    }
    .section_register_gif{
      margin-top: 100px;
    }
  }
  
  /* Estilos para resoluções entre 768px e 991.98px (exemplo: tablets em modo retrato) */ 
  
  
  @media (min-width: 768px) and (max-height: 1000px) {
    .section_register_left_h1{
      font-size: 6.4em;
      line-height: 50px;
      margin-bottom: 200px;
    }
  
    .section_register_gif{
      margin-top: 100px;
    }
  
    
  }

