.container {
    display: flex;
    background: #242424;
    padding: 10px 15%;
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 0.5em;
}

.dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e2e2e;
    border-radius: 20px;
    border: unset;
    width: 50em;
    height: 80em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerlogo {
    display: flex;
    width: 300px;
    
    align-items: center;
}

.logoelinks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.navbtn{
    color: #2e2e2e;
    font-size: 1.4em;
    font-weight: 700;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 13px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
    border: unset;
}

.navbtn:hover{
    background-color: #7c2ae8;
    color: aliceblue;
}

.navbtn:active{
    transform: scale(90%);
}

.navbtnselected {
    background-color: #7c2ae8;
    color: aliceblue;
    transition: 0.3s;
}

.search{
    color: #2e2e2e;
   font-size: 1.4em;
   font-weight: 700;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 5px; 
   transition: 0.2s;
   border: unset;
   display: flex;
   flex-grow: 1;
    max-width: 30em;
   /* margin-left: 3em; */
}

.searchinput{
    padding: 5px;
    border: unset;
    background-color: aliceblue;
    border-radius: 10px;
    flex-grow: 1;
    font-family: inherit;
    font-size: 1.2em;
    
}

.searchinput:focus {
    outline: none;
}

.searchbtn {
   color: #2e2e2e;
   font-size: 1.4em;
   font-weight: 700;
   background-color: aliceblue;
   border-radius: 20px;
   transition: 0.2s;
   border: unset;
   cursor: pointer;
   border-radius: 50%;
   padding: 5px 5px 2px;

}

.searchbtn:hover{
    background-color: #7c2ae8;
    color: aliceblue;
}


.loginbtn {
    color: aliceblue;
    font-size: 1.4em;
    font-weight: 700;
    background-color: #7c2ae8;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
    border: unset;
    cursor: pointer;
    font-family: inherit;
 }
 
 .loginbtn:hover{
    background-color: #7c2ae8b9;;
}

.registerbtn {
    color: #2e2e2e;
    font-size: 1.4em;
    font-weight: 700;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
    border: unset;
 }

 .containerauth {
    display: flex;
    gap: 10px;
    margin-right: 6%;
    align-items: center;
 }
 
 .registerbtn:hover{
    background-color: rgba(240, 248, 255, 0.781);
    
    color: #2e2e2e;
 }

 .menu{
    color: white;
    font-size: 2.4em;
    cursor: pointer;
    display: none;
 }

 .mobilenav{
    position: absolute;
    display: flex;
    background-color: #242424;
    right: 0;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    top: 100%;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    transform: translateX(1000px);
    transition: 0.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 .mobilenav.show{
    transform: translateX(0px);
 }

 .mobileauth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }

@media screen and (max-width: 1000px) {
    .searchbtn{
        display: none;
    }

    .containerauth{
        display:none;
    }

    .container{
        padding: 30px 10%;
    }

    .menu{
        display: block;
        margin-right: 10%;
    }
    
    .dialog {
        width: 80vw;
    }
    
}