:root {
  font-size: 10px;
  background-color: #242424;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-smooth: always;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}



a {
  color: inherit;
  text-decoration: none;
}


