.container{
    display: flex;
    padding-top: 7vh;
    min-height: calc(100vh - 7vh);
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding: 10em;
}

.slogan{
    color: aliceblue;
    font-size: 6.4em;
    margin-top: 1em;
    text-align: center;
}

.cats{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 74em;
    justify-content: center;
}

.cat{
    background-color: #2e2e2e;
    color: #7c2ae8;
    border: unset;
    padding: 20px;
    font-size: 2.4em;
    font-family: inherit;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    transition: 0.3s;
    width: 10em;
}

.cat p {
    color: aliceblue;
}

.cat:hover{
    background-color: #7c2ae8;
    color: aliceblue;
    cursor: pointer;
}

.filter{
    font-size: 1.8em;
    color: aliceblue;
    
    padding: 1em;
    border-left: 1px solid #7c2ae8;
}

.filterdestaque{
    color: #7c2ae8;
    font-weight: 900;
}

.filterdiv{
    display: flex;
    align-items: center;
    margin-right: 50em;
}

.closefilter{
    font-size: 2.4em;
    color: aliceblue;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 50%;
}

.closefilter:hover{
    background-color: #2e2e2e;
    
}

@media screen and (max-width: 1000px) {
    .container{
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    .container{
       font-size: 6px;
       padding: 5em;
    }

    .cat{
        padding: 15px;
    }

}