.container {
    width: 80vw;
    height:auto;
    margin-right: 9%;
    margin-top: -10px;
}

.imagem {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

@media screen and (max-width: 1550px){
    .container{
        transform: scale(80%);
        width: 120vw;
        margin-right: 10%;
    }
}

@media screen and (max-width: 730px) {
    .container{
        transform: scale(60%);
        margin-right: 30%;
        width: 200vw;
    }
    
}

@media screen and (max-height: 900px) {
    .container{
        margin-top: 0px;
    }
}


