.container{
    padding-top: 10em;
    width: 70vw;
    margin: 20px auto;
    columns: 4;
    column-gap: 10px;
}

.img{
    max-width: 30em;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-self: flex-start;
    margin-bottom: 20px;
}

.img:hover{
    filter:opacity(0.7)
}


@media screen and (max-width: 1200px) {
    .container{
        padding-top: 5em;
    }
    
    .img{
        max-width: 20em;
    }
}