.container{
     padding-top: 10em;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.img{
    max-width: 30em;
    height: auto;
    border-radius: 20px;
    cursor: pointer
}

@media screen and (max-width: 1200px) {
    .container{
        padding-top: 5em;
    }
    
    .img{
        max-width: 20em;
    }
}